---
import Main from "../layouts/Main.astro"
import ContactMe from "../components/ContactMe.astro"
import Work from "../components/Work.astro";
import Hero from "../components/Hero.astro";
import Blog from "../components/Blog.astro";
---

<Main>
	<Hero/>
	<Work/>
	<Blog/>
	<ContactMe/>
</Main>