---
import Main from "../layouts/Main.astro"
import Links from "../components/Links.astro"
import Hero from "../components/Hero.astro"
import WhoAmI from "../components/WhoAmI.astro"
import Nav from "../components/Nav.astro"
---

<Main>
	<header class="relative flex flex-col justify-center min-h-screen md:items-center">
		<Hero/>
		<Links/>
		<a href="#whoami" class="absolute flex flex-col items-center self-center justify-center transition bottom-5" id="scroll"><span>scroll</span>
		</a>
	</header>
	<div>
		<Nav/>
		<WhoAmI/>
	</div>
</Main>