---
    import Icon from '../components/Icon';
import Main from '../layouts/Main.astro'
const data = Astro.fetchContent('../portfolio/*.md');
---

    <Main title="Portfolio">
        <div class="block m-5 md:absolute md:m-0 left-10 top-10">
            <h1 class="text-2xl font-bold dark:text-gray-100">Benjamin Geets</h1>
            <p class="dark:text-gray-100">portfolio</p>
        </div>
        <div class="fixed bottom-0 w-screen p-2 md:left-8 md:bottom-auto md:top-28 md:w-auto">
            <div class="absolute flex items-center justify-center p-2 text-blue-800 bg-gray-200 border rounded-md dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-900 dark:hover:text-blue-400 dark:text-blue-300 md:justify-start hover:bg-gray-100 hover:text-indigo-400">
                <Icon name="Arrow-back"/>
                <a href="/" class="before:absolute before:w-full before:h-full before:left-0 before:top-0">Accueil</a>
            </div>
        </div>
        <section class="flex items-end justify-center mx-auto mb-20 min-w-screen md:min-h-screen md:items-center md:mb-0">
            <div class="w-full max-w-3xl px-2 mb-2 md:mb-0">
                <div class="flex flex-wrap w-full gap-2">
                    {data.map(e => (
                        <div  class="relative p-2 text-blue-800 transition bg-gray-200 border rounded-md dark:bg-gray-800 dark:border-gray-800 dark:hover:text-blue-400 hover:bg-gray-100 dark:hover:bg-gray-900 dark:text-blue-300 hover:text-indigo-400">
                            <a href={`/portfolio/${e.slug}`} class="block font-bold before:top-0 before:absolute before:w-full before:h-full before:left-0">{e.emoji}  {e.title}</a>
                            <small class="text-xs text-gray-600 dark:text-gray-200">
                                {e.techno.map(f => (
                                    <span>#{f}&nbsp;</span>
                                ))}
                            </small>
                        </div>
                    ))}

                </div>
            </div>
        </section>
    </Main>