---
import gradient from "../images/Grad_18.png"
---
<section id="contact" class="relative flex flex-col items-end max-w-5xl px-4 mx-auto pt-20 md:pt-40 lg:px-0 min-h-[50vh]">
    <div class="bg-opacity-75 md:bg-white md:bg-opacity-75 md:shadow-xl md:p-8 rounded-2xl">
        <h2 class="text-4xl">Je suis disponible pour vos projets</h2>
        <p>Si vous avez une question ou un projet dont vous souhaitez discuter, vous êtes libre de me contacter via le formulaire ci-dessous ou à l'adresse email <a class="font-bold" href="mailto:benjamin@geets.dev">benjamin@geets.dev</a></p>
        <form class="bg-white md:bg-transparent p-4 md:p-0 flex md:mt-0 flex-col gap-4 rounded-md max-w-[64ch]" action="">
            <label class="font-bold md:mt-10" for="email">
                Adresse e-mail
            </label>
            <input class="self-start p-2 rounded-md bg-gray-50" name="email" id="email" type="email" placeholder="sylvain@example.org">
            <label class="font-bold" for="message">
                Message
            </label>
            <textarea class="p-2 rounded-md bg-gray-50 " id="message" name="message" rows={4} placeholder="Bonjour, je vous contacte au sujet.."></textarea>
            <button class="p-4 transition border rounded-md md:self-start hover:bg-gray-200">
                Envoyer mon message
            </button>
        </form>
    </div>
    <img class="absolute hidden max-w-sm shadow-xl left-4 -bottom-20 md:block -z-10 rounded-3xl" src={gradient} alt="">
</section>