---
import picture from "../images/benjamin_geets.jpg"
---
<div class="flex flex-col items-center gap-10 mx-auto md:flex-row">
	<figure class="overflow-hidden bg-white rounded-md shadow-xl hero-item-motion w-52">
		<img width={800} height={800} src={picture} alt="Benjamin Geets">
	</figure>
	<div>
		<h1 class="p-4 text-4xl font-bold bg-white rounded-md shadow-xl hero-item-motion font-main">Benjamin Geets</h1>
		<span class="inline-block p-2 mt-2 bg-white rounded-md shadow-xl hero-item-motion">Développeur web</span>
	</div>
</div>