---
import loak from "../images/loak.png"
import galandtristan from "../images/galandtristan.png"
import saveurbelge from "../images/saveurbelge.png"
import PortfolioItem from "./PortfolioItem.astro"
const projects = [
    {
        title:"SaveurBelge",
        image:saveurbelge,
        href:"saveurbelge.be"
    },

    {
        title:"loak.studio",
        image:loak,
        href:"loak.studio"
    },

    {
        title:"Galand Tristan",
        image:galandtristan,
        href:"galandtristan.be"
    }
]
---
<section id="portfolio" class="relative grid max-w-5xl gap-4 px-4 pt-20 mx-auto md:pt-40 md:grid-cols-3 lg:px-0">
    <h2 class="text-4xl md:col-span-3">Quelques unes de mes réalisations:</h2>
    {projects.map(project=>
        <PortfolioItem project={project}/>
    )}
</section>