---
import PortfolioItem from "./PortfolioItem.astro"
const projects = [
    {
        title:"SaveurBelge",
        image:"https://via.placeholder.com/530x540",
        href:"#"
    },

    {
        title:"SaveurBelge",
        image:"https://via.placeholder.com/230x540",
        href:"#"
    },

    {
        title:"SaveurBelge",
        image:"https://via.placeholder.com/230x540",
        href:"#"
    }
]
---
<section id="portfolio" class="relative grid max-w-5xl gap-4 px-4 pt-20 mx-auto md:pt-40 md:grid-cols-3 lg:px-0">
    <h2 class="text-4xl md:col-span-3">Quelques unes de mes réaliations:</h2>
    {projects.map(project=>
        <PortfolioItem project={project}/>
    )}
</section>