<section id="whoami" class="max-w-5xl mx-auto">
    <h2 class="text-4xl">Développeur web? C'est à dire</h2>
    <p class="">Je trouve des solutions aux problèmes liés à internet de manière générale 🤓. Pour parler techniquement, je suis <b>développeur fullstack</b>.</p>
    <p>Mais pour parler simplement, je conçois des sites internet et applications web. Je vise la performance et la légèreté. </p>
    <h3 class="text-2xl">Mais pourquoi avoir un site léger 🤔</h3>
    <p>C'est simple, un site léger, c'est un site rapide. Plus agréable à utiliser, moins couteux en données et en électricité et mieux référencé sur les moteurs de recherche tels que <b>Google</b> ou <b>Duckduckgo</b></p>
</section>