@tailwind base;
@tailwind components;
@tailwind utilities;


/**
* Fix fonts that render as bold in Firefox
*
* Put this near the top of your style.css
* Before any overriding styles
*/



@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}


@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}


main{
    background-image: url('/pediluve.svg');
    background-size:100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

h1,h2,h3,h4{
    @apply mb-2 font-semibold leading-loose text-dark font-main;
}
p,label, input, textarea, address, span, a, button, li{
    @apply leading-relaxed text-dark max-w-[64ch] font-main;
}
html{
    scroll-behavior: smooth;
}



input, textarea{
    @apply outline-2 outline-slate-500 outline focus-within:rounded-none focus-within:outline-blue-600; 
}

a, button{
    @apply focus-visible:outline-2 focus-visible:outline-blue-600 focus-visible:outline-offset-2 focus-visible:outline-dashed;
}