---
import Main from './Main.astro'
import Icon from '../components/Icon.jsx'
const { content } = Astro.props
const date = new Date(content.publishedat)
---

<Main title={content.title} description={content.description}>
<div class="fixed md:left-4 md:bottom-auto bottom-0 md:w-auto w-screen p-2">
    <a href="/blog" class="dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-900 dark:hover:text-blue-400 dark:text-blue-300 flex md:justify-start justify-center items-center bg-gray-200 border hover:bg-gray-100 p-2 rounded-md  text-blue-800 hover:text-indigo-400">
        <Icon name="Arrow-back"/>
        Retour
    </a>
</div>
<article class="markdown max-w-2xl mx-auto mt-10 px-2">

<small>
{
    date.toLocaleDateString("fr-FR",{ year: 'numeric', month: 'long', day: 'numeric' })
} /
{content.tags.map(e=>(
    <span>#{e}&nbsp;</span>
))}

</small>
<p></p>
<slot/>
</article>
<div class="md:h-0 h-20">
</div>
</Main>
